*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 15px;
}

.card{
  width: 320px;
  margin: 40px auto;
  box-shadow: 5px 15px 15px #000;
  border-radius: 10px;
  padding: 0 0 30px;
}

.img{
  width: 100%;
  display: block;
  object-fit: cover;
  height: 180px;
  border-radius: 10px 10px 0 0;
}

.contenedor{
  width: 90%;
  margin: 0 auto
}

.titulo{
  text-align: center;
  color: rgb(161, 39, 63);
  margin: 20px 0 10px;
}


.texto{
  text-align: center;
}

.btn{
  width: 100px;
  color: white;
  background: crimson;
  display: block;
  padding: 13px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  
}

.goku{
  width: 400px;
  margin: 0 auto;
  display: block;
  filter: drop-shadow(3px 6px 15px yellow  );

}
  
