*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.goku{
  display: block;
  width: 400px;
  margin: 0 auto;
  /* border: solid yellow; */
  /* box-shadow: 0px 0px 10px yellow; */
  filter: drop-shadow(0px 0px 15px yellow); 
}

.spidy{
  width: 350px;
  display: block;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.caja{
  background-color: rgb(234, 234, 226);
  text-align: center;
  width: 350px;
  height: 220px;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.boton{
  width: 100px;
  height: 30px;
  background: rgb(196, 10, 47);
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  color: white;
  border-radius: 5px 5px 5px 5px;
}

.rojo{
  color: rgb(161, 39, 63);
}